<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='showplayer.css') }}">

</head>
<body>
    <img src="{{ url_for('static', filename='fbodyimg.jpeg') }}">
    <img src="{{ url_for('static', filename='bbuilder_leg.jpeg') }}">
    <img src="{{ url_for('static', filename='upperbodimg.jpeg') }}">

<a href="/create">create myplayer</a>
    {%for player in attribute_set%}
    <p>top strength{{player.top_strength}}</p>
    <p> bottom strength{{player.bottom_strength}} </p>
    <p>speed{{player.speed}}</p>
    {%endfor%}


</body>
</html>