img{max-height: 100px;
    height: 100px;
width: 310px;
}
body{ 
    background: rgb(63,94,251);
background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
background-color: #e5e5f7; 
}

